<div ng-cloak>
    <div class="row">
        <div class="col-md-2"></div>
         <h1 class="col-md-8 pageTitle">Transformation en Politiquement Correct</h1>
        <div class="col-md-2"></div>

    </div>
    <div class="row">
        <h3 class="col-md-4">Essayer une citation au hazard</h3>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-info" ng-click="getCitationDivers()">
                <span class="glyphicon glyphicon-random"></span>
                <span>Divers</span>
            </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-warning"  ng-click="getCitationSexiste()">
                <span class="glyphicon glyphicon-random"></span>
                <span>Sexist</span>
            </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger"  ng-click="getCitationRaciste()">
                <span class="glyphicon glyphicon-random"></span>
                <span>Raciste</span>
            </button>
        </div>
    </div>
<br />
    <div class="row height20">
        <div class="col-md-5">
            <textarea id = "textToTranslate" ng-model="textToTranslate"
                  rows = "14" ng-maxlength="500" class="width100 blueBorder height20">
                Text à traduire</textarea>
        </div>
        <div class="col-md-1">

            <button type="button" ng-click="translate()" class="logoMan blueBorder">
            </button>
        </div>
        <div class="col-md-5 blueBorder height20">
            <span id = "translatedText"
                  class="width100">{{translatedText}}</span>
        </div>
    </div>
    </div>
    </div>
</div>
