<div ng-cloak>
    <div class="row">
        <div class="col-md-5">
            <textarea id = "textToTranslate" ng-model="textToTranslate"
                  rows = "3"
                  cols = "60">Text à traduire</textarea>
        </div>
        <div class="col-md-2">
            <button type="button" ng-click="translate()">Trad</button>
        </div>
        <div class="col-md-5">
            <textarea id = "translatedText" ng-model="translatedText"
                  rows = "3"
                  cols = "60">Text traduit</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <input type="file" file-model="myFile"/>
            <button ng-click="uploadFile()">upload me</button>
        </div>
    </div>

    </div>
    </div>
</div>
