<div>

    <h2 translate="polcoApp.noun.home.title">Noun</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveNounModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="polcoApp.noun.home.createLabel">Create a new Noun</span>
    </button>
    <div class="modal fade" id="saveNounModal" tabindex="-1" role="dialog" aria-labelledby="myNounLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myNounLabel" translate="polcoApp.noun.home.createOrEditLabel">Create or edit a Noun</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="noun.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="polcoApp.noun.value">Value</label>
                            <input type="text" class="form-control" name="value"
                                   ng-model="noun.value">
                        </div>
                        <div class="form-group">
                            <label translate="polcoApp.noun.gender">Gender</label>
                            <input type="text" class="form-control" name="gender"
                                   ng-model="noun.gender">
                        </div>
                        <div class="form-group">
                            <label translate="polcoApp.noun.number">Number</label>
                            <input type="text" class="form-control" name="number"
                                   ng-model="noun.number">
                        </div>
                        <div class="form-group">
                            <label translate="polcoApp.noun.compound">Compound</label>
                            <input type="text" class="form-control" name="compound"
                                   ng-model="noun.compound">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteNounConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(noun.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="polcoApp.noun.delete.question" translate-values="{id: '{{noun.id}}'}">Are you sure you want to delete this Noun?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="polcoApp.noun.value">Value</th>
                    <th translate="polcoApp.noun.gender">Gender</th>
                    <th translate="polcoApp.noun.number">Number</th>
                    <th translate="polcoApp.noun.compound">Compound</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="noun in nouns">
                    <td><a ui-sref="nounDetail({id:noun.id})">{{noun.id}}</a></td>
                    <td>{{noun.value}}</td>
                    <td>{{noun.gender}}</td>
                    <td>{{noun.number}}</td>
                    <td>{{noun.compound}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="nounDetail({id:noun.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(noun.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(noun.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
