<div>
    <h2 translate="audits.title">Import</h2>

    <div class="row">

        <div class="col-md-1">
            <button class="btn btn-success" ng-click="exportTrad()">
                <span class="glyphicon glyphicon-export"></span>
                <span>Export traduction</span>
            </button>
        </div>
    </div>
<br/>
<br/>
    <div class="row">
        <div class="col-md-5">
            <input type="file" file-model="myFile"/>
            <button ng-click="uploadFile()" class="btn btn-success">CSV upload me</button>
        </div>
    </div>
<br/>
<br/>
    <div class="row">
        <div class="col-md-5">
            <input type="file" file-model="myFile"/>
            <button ng-click="uploadXMLFile()" class="btn btn-success">XML upload me</button>
        </div>
    </div>

</div>
