<div>
    <div class="row">
        <div class="col-md-2"></div>
        <h1 class="col-md-8 pageTitle">Pourcentage de Politiquement Correct</h1>
        <div class="col-md-2"></div>

    </div>


    <div class="row">
        <h3 class="col-md-4">Essayer un text au hazard</h3>
    </div>
    <div class="row">

        <div class="col-md-1">
            <button class="btn btn-success" ng-click="getTextPolCo()">
                <span class="glyphicon glyphicon-random"></span>
                <span>Polco</span>
            </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger"  ng-click="getTextNonPolCo()">
                <span class="glyphicon glyphicon-random"></span>
                <span>Pas PolCo</span>
            </button>
        </div>
    </div>
    <br />

    <div class="row height20">
        <div class="col-md-5">
            <textarea id = "textToTranslate" ng-model="textToTranslate"
                      rows = "14" ng-maxlength="500" class="width100 blueBorder height20">
                </textarea>
        </div>
        <div class="col-md-1">

            <button type="button" ng-click="getPourcentage()" class="pourcentageImg blueBorder">
            </button>
        </div>
        <div class="col-md-5">
            <span id = "translatedText" ng-model="textranslatedText"
                  class="width100">{{pourcentage}}</span>
        </div>
    </div>
</div>
</div>

     <h2 translate="">
         pourcentage</h2>

    Pourcentage


    En fonction du pourcentage mettre des personnages genre 90% caron
    "Voici un text politiquement correct du niveau d'aymeric caron"

    "Ce text n'est pas polititquement correct du tout!! Attention"

    Regarder les traductions et les mots correspondants au traduction

    Potentiellement dire que la traduction est très duel si jamais il y a beaucoup de tranduction et beaucoup de mot
    qui nécéssite une traduction


    "Votre text n'est pas assez long pour être comparer a nos politologue"


    Mettre plein de petite image avec un text écriver un text pour savoir votre niveau de politiquement correct
    Dieudonnée Zemmour Le Pen

    Mettre des discoures par défauts

    Mettre bayrou : "Ce discours est normale"
</div>
